@import "normalize.less";
@import "main.less";

* {
    box-sizing: border-box;
}

html, body {
    height : 100%;
    overflow : hidden;
}

#main {
    width       : 100%;
    height      : 100%;
    overflow    : hidden;
}

#head {

    width               : 100%;
    height              : 35px;
    background-color    : #282828;
    border-bottom       : 1px solid #A0A0A0;

    #logout {

        position : absolute;
        right    : 50px;
        color    : #DDDDDD;

        &:hover {
            cursor:pointer;
            text-decoration : underline;
        }
    }

    #addUrl {

        position    : absolute;
        left        : 200px;
        font-size   : 80%;
        top         : 6px;

        .loadingIndicator {
            display     : inline-block;
            visibility  : hidden;
            margin-left : 10px;
            color       : #DDDDDD;
        }

        button {
            display         : none;
            width           : 100px;
            padding-bottom  : 1px;
        }

        input {
            padding : 2px 10px 3px 10px;
            width : 200px;
        }
    }

}

#tags {

    position        : absolute;
    top             : 35px;
    left            : 0;
    bottom          : 0;
    width           : 200px;
    border-right    : 1px solid #DEDEDE;

    .tag_item {

        position    : relative;
        width       : 100%;
        font-size   : 80%;
        margin-top  : 5px;
        text-align  : left;
        letter-spacing : 1px;

        span {
            position    : absolute;
            display     : none;
            right       : 10px;
            color       : #DEDEDE;

            &:hover {
                color : #444444;
                cursor:pointer;
            }

        }

        &:hover {
            text-decoration : underline;
            cursor          : pointer;

            span{
                display : inline-block;
            }
        }

        div {
            padding: 2px 10px 2px 15px;
        }
    }
}

#whatis {
    text-align:center;
    padding : 20px;

    img {
        box-shadow : 1px 10px 10px #444444;
    }
}

#libary {

    position        : absolute;
    top             : 36px;
    left            : 201px;
    right           : 0;
    bottom          : 0;

    overflow        : auto;

    .list_item {

        position    : relative;
        font-size   : 90%;
        width       : 100%;
        margin      : 0 0 0 0;
        background-color : #f1f1f1;
        border-bottom: 1px solid #A0A0A0;
        text-align  : left;

        .control {
            position    : absolute;
            font-size   : 80%;
            color       : #DEDEDE;
            right       : 4%;
            top         : 40px;
            z-index     : 9;
            letter-spacing: 1px;
            div:hover {
                cursor : pointer;
                color : #111111;
            }
        }

        .top_lane {

            margin      : 0 10px 0 20px;
            padding-top : 10px;
            width       : 95%;

            .favicon,
            .name,
            .url {
                cursor          : pointer;
                display         : inline-block;
                vertical-align  : top;

            }

            .url {
                margin-top : 5px;
                font-size : 75%;
                letter-spacing: 1px;
                float : right;
                width : 30%;
                text-align: right;
                height : 16px;
                overflow : hidden;
            }

            .favicon {

                width : 25px;

                img {
                    width   : 15px;
                    height  : 15px;
                }

            }

            .name {
                font-size   : 125%;
                font-weight : bold;
                margin-bottom: 5px;
                width       : 60%;
                overflow    : hidden;
                word-break  : none;
            }
        }

        .info_lane {

            width       : 80%;
            font-size   : 80%;
            color       : #707070;
            margin      : 0 100px 0 20px;

            .created,
            .tags,
            .addTag {
                display : inline-block;
            }

            .addTag {
                cursor: pointer;
            }

            .tags {

                span {
                    display : inline-block;
                    margin: 0 1px 0 0;
                    padding : 2px 10px 2px 0;
                    background-color: #E4E4E4;
                }

                .delete {

                    display         : inline-block;
                    margin          : 2px 4px 0 0;
                    padding         : 0 10px 0 10px;
                    background-color: #DEDEDE;
                    cursor          : pointer;
                }
            }

            .addTag {
                margin: 1px 5px 0 15px;
                font-size: 120%;
                font-weight: bold;
                padding : 1px 10px 1px 10px;
                background-color: #E4E4E4;
            }
        }

        .description  {

            margin          : 10px 100px 0 20px;
            padding-bottom  : 15px;
            width           : 80%;
        }
    }
}

.editWidget {

    width   : 500px;
    padding : 30px;

    .data {

        width : 400px;

        input {
            margin-bottom : 5px;
            width : 80%;
        }

        textarea {
            width : 100%;
            height : 100px;
        }
    }

}


.overlay {
    display             : none;
    position            : absolute;
    top                 : 0;
    left                : 0;
    right               : 0;
    bottom              : 0;
    background-color    : #333;
    opacity             : 0.8;
    z-index             : 10;
}

.overlayInner {
    display             : none;
    position            : fixed;
    top                 : 10%;
    left                : 30%;
    min-width           : 30%;
    min-height          : 30%;
    padding             : 10px;
    opacity             : 1;
    border-radius       : 5px;
    background-color    : #FFFFFF;
    z-index             : 11;
}
