@import "normalize.less";
@import "main.less";
@import "widgets.less";

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Sarina);

* {
    box-sizing: border-box;
}

html, body {
    height              : 100%;
    overflow            : hidden;
    background-color    : #FEFEFE;
    font-family         : "Arial";
}

#main {
    width      : 100%;
    height     : 100%;
    overflow   : hidden;
}

#logo {
    font-family: 'Sarina', cursive;
    font-wight : 130%;
}

#head {

    width               : 100%;
    height              : 40px;
    background-color    : #282828;

    #logo {
        top     : 10px;
        left    : 20px;
        position : absolute;
        color : #FFFFFF;
    }

    #logout {

        position : absolute;
        top      : 10px;
        font-size : 80%;
        right    : 20px;
        color    : #DDDDDD;

        &:hover {
            cursor:pointer;
            text-decoration : underline;
        }
    }

    #actions {

        display     : block;
        position    : absolute;
        left        : 150px;
        font-size   : 80%;
        top         : 8px;

        .add {
            padding : 0 20px;
            height  : 25px;
        }

        .search {
            padding : 1px 20px;
            height  : 25px;
            width   : 400px;
        }
    }

    #search_results {

        position    : absolute;
        display     : none;
        left        : 150px;
        width       : 500px;
        top         : 40px;
        max-height  : 90%;

        overflow-x  : hidden;
        overflow-y  : auto;

        font-size   : 80%;

        background-color: #FFFFFF;
        z-index : 9999;
        border  : 1px solid #111;

        .add_new_item {

            display: none;
            padding: 10px;

            .param {
                padding: 5px 10px;

                label {
                    display: block;
                    font-size: 80%;
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: #909090;
                }

                input {
                    margin-right: 2px;
                    vertical-align: middle;
                }
            }

            button {
                padding: 3px 20px;
                width  : 200px;
                margin-left: 10px;
            }
        }

        div.searchItem {

            padding : 10px 10px;
            border-bottom : 1px solid #DEDEDE;

            .url {
                font-weight: bold;
            }

            .description {
                display    : block;
                font-style : italic;
                margin-top : 4px;
                margin-left: 10px;
            }

            &:hover {
                cursor : pointer;
                background-color: #DEDEDE;
            }
        }
    }
}


#tags {
    display : none;
    position        : absolute;
    top             : 35px;
    left            : 0;
    bottom          : 0;
    width           : 150px;
    font-size       : 90%;
    padding-top      : 20px;
    background-color : #474747;
    color           : #CCCCCC;
    overflow-y       : auto;
    border-right     : 1px solid #333333;

    .tag_item {

        position    : relative;
        width       : 100%;
        font-size   : 80%;
        margin-top  : 2px;
        text-align  : left;
        letter-spacing : 1px;

        span {
            position    : absolute;
            display     : none;
            right       : 10px;
            color       : #AAAAAA;

            &:hover {
                color : #EFEFEF;
                cursor:pointer;
            }

        }

        &:hover {
            text-decoration : underline;
            cursor          : pointer;

            span{
                display : inline-block;
            }
        }

        div {
            padding: 2px 10px 2px 15px;
        }
    }
}

#whatis {

    h1 {
        margin-top : 50px;
        font-size : 300%;
        text-align:center;
    }

    img {
        vertical-align : top;
        display : inline-block;
        margin-left : 10%;
        width   : 40%;
        box-shadow : 1px 10px 10px #444444;
    }

    #logins {

        vertical-align : top;
        display : inline-block;
        text-align : left;

        div {
            margin : 10px 0 50px 50px;
        }

        button {
            font-weight     : bold;
            padding         : 3px 20px;
            margin-bottom   : 20px;
        }

        p {
            margin : 0;
        }

    }

    /**
    text-align:center;
    padding : 20px;

    img {
        box-shadow : 1px 10px 10px #444444;
    }
    **/
}


#sidebar {

    position            : absolute;
    top                 : 40px;
    left                : 0;
    bottom              : 0;
    width               : 40px;

    overflow            : hidden;

    z-index             : 3;

    background-color    : #4A4A4A;
    border-right        : 1px solid #313131;

    &:hover {
        overflow    : auto;
        width       : 160px;
    }

    #lists,
    #add_list,
    #item_editing {

        position : absolute;

        .listItem {

            position : relative;
            width  : 140px;
            height : 36px;

            &:hover {
                cursor : pointer;

                span {
                    text-decoration : underline;
                }
            }

            .listIcon {
                position : absolute;
                top      : 0;
                left     : 0;

            }
        }


        span {
            position : absolute;
            display  : inline-block;
            top      : 10px;
            left     : 40px;
            width    : 100px;
            font-size: 80%;
            color    : #DEDEDE;
            right    : 0;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #lists {
        position : relative;
        margin-top : 30px;
        overflow : hidden;
    }

    #add_list {
        bottom: 30px;
    }

    .edit_icon {
        width               : 36px;
        height              : 36px;
        background-image    : url(../images/edit_list.png);
    }

    .add_icon {
        width               : 36px;
        height              : 36px;
        background-image    : url(../images/add_symbol.png);
    }

    .listIcon {
        width               : 30px;
        height              : 30px;
        background-image    : url(../images/list_symbol.png);
    }
}



#libary {

    position        : absolute;
    top             : 40px;
    left            : 40px;
    right           : 0;
    bottom          : 0;
    white-space     : nowrap;
    overflow-y      : hidden;
    overflow-x      : hidden;

    .search_icon {
        width               : 24px;
        height              : 24px;
        background-image    : url(../images/search_icon.png);
    }

    .edit_icon {
        width               : 18px;
        height              : 18px;
        background-image    : url(../images/edit_icon.png);
    }

    .options_icon {

        width               : 18px;
        height              : 18px;
        background-image    : url(../images/settings_icon.png);

        &:hover {
            cursor: pointer;
        }
    }

    .arrow_left {

        display         : inline-block;
        width           : 18px;
        height          : 18px;
        background-image: url(../images/arrow_left.png);

        &:hover {
            cursor: pointer;
        }
    }

    .arrow_right {
        display         : inline-block;
        width           : 18px;
        height          : 18px;
        background-image: url(../images/arrow_right.png);

        &:hover {
            cursor: pointer;
        }
    }



    .no_content {

        h1 {
            font-family: 'Sarina', cursive;
        }

        padding : 50px;
        display : none;
    }

    #lists {
        height: 100%;
        width: 100%;
        overflow-x: scroll;
    }

    .item_editor {

        position: relative;
        display : inline-block;
        height  : 100%;
        width   : 350px;

        background-color: #f5f5f5;
        border-right: 1px solid #444;

        -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.2);
        -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.2);
        box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.2);

        z-index: 3;


        .head {
            height          : 40px;
            background-color: #3d3d3d;

            label[for="edit_icon"] {
                display : none;
                position: absolute;
                right   : 40px;
                top     : 10px;
                width   : 18px;
            }

            .edit_icon {
                display : none;
                position: absolute;
                right   : 10px;
                top     : 10px;
                width   : 18px;
            }
        }

        label {
            display: block;
            font-size: 80%;
            margin-bottom: 5px;
            margin-left: 3px;
            font-weight: bold;
            color: #909090;
        }

        input, textarea {

            border     : 1px solid #A0A0A0;
            padding    : 5px;
            font-size  : 90%;
            width      : 100%;
            background-color: #FEFEFE;

            &:disabled {
                border: 0;
                background-color: transparent;
                padding: 0;
            }
        }

        textarea {
            height: 200px;
        }

        a.remove {
            display : none;
            position: absolute;
            color   : #909090;
            bottom  : 10px;
            right   : 20px;
            font-size: 70%;
        }

        .editItem {

            padding: 10px 10px;

            &.headline {

                padding: 0;
                margin : 25px 10px 20px 10px;

                input {
                    font-size: 100%;
                }
            }
        }

        &:hover {

            label[for="edit_icon"] {
                cursor: pointer;
                display: block;
            }

            .edit_icon {
                cursor: pointer;
                display: block;
            }
        }

        &.hidden {
            display: none;
        }
    }


    .list {

        position        : relative;
        vertical-align  : top;
        white-space     : normal;
        display         : inline-block;
        background-color: #EEE;

        height          : 100%;
        width           : 300px;

        .head {

            height          : 40px;
            padding         : 7px 12px;
            font-family     : "Helvetica";
            background-color: #3d3d3d;
            color           : #DEDEDE;
            letter-spacing  : 1px;
            border-right    : 1px dotted #303030;
            width           : 300px;
            cursor          : default;

            .listName {
                position : absolute;
                top      : 3px;
                left     : 10px;
                font-size: 90%;
            }

            .listDescription {
                position : absolute;
                top      : 22px;
                left     : 10px;
                font-size: 60%;
            }

            .listOptions {
                display : none;
                position: absolute;
                right   : 10px;
                top     : 10px;
                width   : 18px;
            }
        }

        .options {

            display   : none;
            position  : absolute;
            top       : 40px;
            left      : 0;
            right     : 0;
            height    : 220px;

            padding-top: 10px;

            z-index: 2;

            color           : #dfdfdf;
            background-color: #636363;

            .optionsItem {

                &.buttons {

                    padding: 3px 5%;

                    a {
                        font-size: 70%;
                    }
                }

                &.position {

                    position: relative;
                    padding : 3px 5%;
                    height  : 30px;
                    width   : 100%;

                    .arrow_left {
                        position: absolute;
                        left    : 13px;
                    }
                    .arrow_right {
                        position: absolute;
                        right   : 200px;
                    }

                    .current_position {
                        position: absolute;
                        left    : 50px;
                        top     : 3px;
                        font-size: 80%;
                    }
                }


                label {
                    font-size: 80%;
                    margin: 2px 5%;
                }

                input, textarea {
                    width: 90%;
                    margin: 2px 5%;
                    border: 1px solid #DEDEDE;
                    padding: 3px;
                    font-size: 80%;
                    color : #111;
                }

            }
        }

        .content {

            position        : absolute;
            top             : 40px;
            left            : 0;
            right           : 0;
            bottom          : 0;
            font-size       : 80%;
            border-right    : 1px solid #a5a5a5;

            z-index         : 1;

            &.moveForOptions {
                top: 90px;
            }

            overflow-y      : scroll;
            overflow-x      : hidden;
        }

        &:hover {

            .head {
                background-color: #505050;
            }

            .listOptions {
                display: block;
            }
        }



        .listItem {

            position        : relative;
            min-height      : 100px;
            cursor          : default;
            padding-top     : 10px;
            padding-bottom  : 10px;

            border-bottom       : 1px solid #CCCCCC;
            background-color    : #FAFAFA;

            &.active {
                background-color: #DEDEDE;
            }

            &:hover {
                background-color: #EFEFEF;
                cursor: pointer;
            }

            audio {
                width : 95%;
                margin : 5px 2%;
            }

            video,
            img {
                border-radius   : 5px;
                margin          : 5px 10%;
                width           : 80%;
            }

            &.locked {
                opacity: 0.2;
            }

            .loader {

                min-height : 200px;

                .hint {
                    font-weight : bold;
                }

                .name {
                    padding     : 20px 40px;
                    color       : #A0A0A0;
                    font-size   : 90%;
                }

                img {
                    border      : 0 none;
                    box-shadow  : none;
                    margin      : 20% 30% 5px 30%;
                    width       : 40%;
                }
            }

            .media_content {
                border : 1px solid #A0A0A0;
            }

            .extend {

                display     : none;
                font-size   : 90%;
                padding     : 5px 30px 10px 35px;
                transition  : display 2s;
            }

            .control {

                font-size       : 90%;
                margin-top      : 10px;
                margin-left     : 30px;
                padding-bottom  : 10px;

                .extend_me,
                .edit,
                .delete {
                    display     : inline-block;
                    width       : 40px;
                    text-align  : center;
                    color       : #A0A0A0;

                    &:hover {
                        cursor  : pointer;
                        color   : #DEDEDE;
                    }
                }
            }

            .favicon {
                img {
                    border-radius: 0px;
                }
            }


            &.link {

                min-height : 50px;

                .page_data {

                    .favicon {

                        margin  : 3px 10px;
                        width   : 20px;
                        height  : 20px;
                        display : inline-block;
                        vertical-align: top;
                    }

                    .name {
                        font-size: 100%;
                        margin : 5px 0px 2px;
                        width : 200px;
                        display : inline-block;
                        vertical-align: top;
                    }

                    .url {
                        margin : 0 0 5px 40px;
                        width : 200px;
                        overflow: hidden;
                        font-size: 85%;

                        &:hover {
                            color: #A0A0A0;
                            cursor: pointer;
                        }
                    }
                }

                .extend {

                    background-color: #DEDEDE;

                    .description {
                        margin-top   : 20px;
                        margin-bottom: 20px;
                    }
                }

                .extend_me {
                    position    : absolute;
                    right       : 15px;
                    top         : 15px;
                    font-size   : 80%;
                    color       : #A0A0A0;

                    &:hover {
                        cursor  : pointer;
                        color   : #DEDEDE;
                    }
                }
            }

            &.video {

                .name {
                    margin  : 0 10%;
                    width   : 80%;
                    margin-bottom : 10px;
                }

            }

            &.image {

                .control {
                    margin-left     : 5%;
                }
            }

            &.audio {

                img.artwork {
                    position    : absolute;
                    left        : 10px;
                    top         : 5px;
                    margin      : 5px;
                    width       : 50px;
                }

                .name {
                    padding-bottom  : 0;
                    margin-left     : 70px;
                    width           : 70%;
                    min-height      : 60px;
                }
            }
        }
    }
}

#impressum {

    .back {
        font-size : 14px;
        margin : 0 30% 0 30%;

        &:hover {
            text-decoration: underline;
        }
    }

    .impContent {
        position : absolute;
        top      : 5%;
        left     : 30%;
        bottom   : 10%;
        right    : 30%;
        overflow : auto;
    }
}

#impressumLink {
    position    : absolute;
    bottom      : 0;
    right       : 0;
    height      : 20px;
    background-color : #FFFFFF;
    z-index     : 999;
    font-size : 10px;
    color : #AAAAAA;
    border-radius : 10px 0;
    padding : 2px 10px 2px 10px;

    &:hover {
        color : #555555;
        cursor : pointer;
    }
}

